[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
tabulate = "*"
pillow = "*"
validator-collection = "*"
fpdf = "*"
argparse = "*"
pyfiglet = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.12"
