[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fpdf2 = "*"
inflect = "*"
requests = "*"
pyfiglet = "*"
emoji = "*"
pytest = "*"
validator-collection = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
