{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3 row">
            <input autocomplete="off"
                   autofocus
                   class="form-control mx-auto w-100"
                   name="symbol"
                   placeholder="Symbol"
                   type="text">
        </div>
        <div class="mb-3 row">
            <button class="btn btn-primary" type="submit">Quote</button>
        </div>
    </form>
    {% if quotes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                    <tr>
                        <td>{{ quote }}</td>
                        <td>{{ quotes[quote] | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
