{% extends "layout.html" %}
{% block title %}Sell Stocks{% endblock %}
{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3 row">
            <select name="symbol" id="symbol" class="form-select mx-auto w-50">
                <option disabled selected value="">Symbol</option>
                {% for item in stocks %}
                    <option value="{{ item['symbol'] }}">{{ item["symbol"] }}  ({{ item['quantity'] }})</option>
                {% endfor %}
            </select>
            <input autocomplete="off"
                   autofocus
                   class="form-control mx-auto w-50"
                   name="shares"
                   placeholder="Number of shares"
                   type="text">
        </div>
        <div class="mb-3 row">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
    {% if quotes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Owned</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for symbol in quotes %}
                    <tr>
                        <td>{{ symbol }}</td>
                        <!-- <td>{{ stocks|selectattr('symbol', "equalto",symbol) | join('') | default("-", true) }}</td> -->
                        <!-- <td>{{ stocks|selectattr('symbol', "equalto",symbol) | first  |default({'quantity':1}) | attr('quantity')  }}  </td> -->
                        <td>{{ stocks|selectattr('symbol', 'equalto',symbol) |map(attribute='quantity')|first|default('-', true) }}</td>
                        <td>{{ quotes[symbol] | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
